.intro-text {
  margin: 40px auto;
  text-align: left;
}

@media (max-width: 767px) {
  .intro-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .intro-text {
    max-width: 550px;
  }
}
