.image {
  border-radius: 45px;
  
  width: 310px;
  height: 672px;
  box-shadow: 0px 0px 5px 1px #ccc;
  margin: 6px;
}

@media (max-width: 767px) {
  .image {
    border-radius: 22px;
    width: 155px;
    height: 336px;
  }
}

.k-card {
  flex: 0 0 auto;
}