.badge-container {
  flex-direction: row;
}

.app-store {
  width: 200px;
}

.play-store {
  width: 200px;
}

@media (min-width: 768px) {
  .app-store {
    width: 250px;
  }

  .play-store {
    width: 276px;
  }
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

@media (max-width: 767px) {
  .divider {
    width: 0px;
    height: auto;
    display: inline-block;
  }
}